.field-group.error {
    clear: both;
    color: #d04437;
    display: block;
    margin: 5px 0 0 0;
}

.field-group.success {
    clear: both;
    color: #3c763d;
    display: block;
    margin: 5px 0 0 0;
}

.build-config-div {
    border-bottom: 0px;
}

.build-config-div h2 {
    margin-top: 5px;
}
