<html>
<head>
    <title>$i18n.getText("teamcity-trigger.title")</title>
    <meta name="decorator" content="atl.general" />
    <meta name="activeTab" content="teamcity-trigger-settings-plugin-tab"/>
    $webResourceManager.requireResource("org.ndrone.teamcity-trigger-plugin:teamcity-trigger-plugin-resources")
</head>
<body>
  <h2><span id="upm-title">$i18n.getText("teamcity-trigger.connection.title")</span></h2>
  <div id="alerts" class="field-group">
      <p>$errorMessage</p>
  </div>
</body>
</html>
