<html>
<head>
    <title>$i18n.getText("teamcity-trigger.title")</title>
    <meta name="decorator" content="bitbucket.repository.settings"/>
    <meta name="projectKey" content="$repository.project.key"/>
    <meta name="repositorySlug" content="$repository.slug"/>
    <meta name="activeTab" content="teamcity-trigger-settings-plugin-tab"/>
    $webResourceManager.requireResource("org.ndrone.teamcity-trigger-plugin:teamcity-trigger-plugin-resources")
</head>
<body>
  <h2><span id="upm-title">Connection Information</span></h2>
  <div id="alerts" class="field-group"></div>
  <form id="teamcityForm" class="aui">
      <input id="id" name="id" type="hidden" value="$repository.id"/>
      <input id="buildConfigId" name="buildConfigId" type="hidden" value="$!teamcity.buildConfigId"/>
      <div class="field-group">
          <label for="username">
            $i18n.getText("teamcity-trigger.username.label")
              <span class="aui-icon icon-required"><span>(required)</span></span>
          </label>
          <input type="text" id="username" name="username" class="text"
            value="$!teamcity.username">
      </div>
      <div class="field-group">
          <label for="password">
            $i18n.getText("teamcity-trigger.password.label")
              <span class="aui-icon icon-required"><span>(required)</span></span>
          </label>
          <input type="password" id="password" name="password" class="text"
            value="$!teamcity.secret" />
      </div>
      <div class="field-group">
          <label for="url">
            $i18n.getText("teamcity-trigger.url.label")
              <span class="aui-icon icon-required"><span>(required)</span></span>
          </label>
          <input type="text" id="url" name="url" class="text"
            value="$!teamcity.url"/>
      </div>
      <div class="field-group">
          <input id="userSave" type="button" class="aui-button aui-button-primary"
                 value="$i18n.getText("teamcity-trigger.save.label")"/>
          <input id="testConn" type="button" class="aui-button aui-button-primary"
                 value="$i18n.getText("teamcity-trigger.testConnection.label")"/>
          <input type="reset" class="aui-button aui-button-link cancel"
                 value="$i18n.getText("teamcity-trigger.reset.label")"/>
      </div>
  </form>
</body>
</html>
